
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label class="mt-3">Kategori Adı</label>
        <input type="text" class="form-control" name="KATEGORIAD" />
    </div>
    <div>
        <button class="btn btn-info mt-3">Kategori Ekle</button>
    </div>
</form>
